<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Complaint Form</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <form class="form-horizontal" autocomplete="off" (ngSubmit)="save()">
        <div class="row">
          <div class="col">
            <div class="form-group required">
              <label class="col-form-label">Sheet Number</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.sheetNumber"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Status</label>
              <select class="form-control" [(ngModel)]="complaint.status" [ngModelOptions]="{standalone: true}">
                <option value="New">New</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Date Today</label>
              <input readonly type="datetime" class="form-control" bsDatepicker [bsConfig]="{isAnimated: true}"
                [bsValue]="currentDate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Reported Thru</label>
              <select class="form-control" [(ngModel)]="complaint.reportedThru" [ngModelOptions]="{standalone: true}">
                <option value="In Person">In Person</option>
                <option value="Phone call">Phone call</option>
                <option value="SMS">SMS</option>
                <option value="Web">Web</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Reported to other agency?</label>
              <select class="form-control" [(ngModel)]="complaint.previouslyReported"
                [ngModelOptions]="{standalone: true}">
                <option [ngValue]="false">No</option>
                <option [ngValue]="true">Yes</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="complaint.previouslyReported">
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">To what agency</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.previouslyReportedAgency"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">By whom</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.previouslyReportedWhom"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">When previously reported</label>
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{isAnimated: true}"
                [bsValue]="currentDate" [(ngModel)]="complaint.previouslyReportedWhen"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group required">
              <label class="col-form-label">Nature of complaint</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.nature"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Place of incident</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.placeIncident"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group required">
              <label class="col-form-label">Date of incident</label>
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{isAnimated: true}"
                [bsValue]="currentDate" [(ngModel)]="complaint.dateIncident" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="!this.complaint.complainant">
            <input type="button" class="btn btn-secondary" value="Add Complainant or Informer" (click)="createInformer()">
          </div>
          <div class="col" *ngIf="this.complaint.complainant">
            <input type="button" class="btn btn-secondary" value="Update Complainant or Informer" (click)="updateInformer()">
          </div>
        </div>
        <div *ngIf="this.complaint.complainant">
          <div class="row">
            <div class="col">
              <div class="form-group required">
                <label class="col-form-label">FirstName</label>
                <input type="text" class="form-control" [(ngModel)]="complaint.complainant.firstName" disabled
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col">
              <div class="form-group required">
                <label class="col-form-label">MiddleName</label>
                <input type="text" class="form-control" [(ngModel)]="complaint.complainant.middleName" disabled
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col">
              <div class="form-group required">
                <label class="col-form-label">LastName</label>
                <input type="text" class="form-control" [(ngModel)]="complaint.complainant.lastName" disabled
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col">
              <div class="form-group required">
                <label class="col-form-label">Qualifier</label>
                <input type="text" class="form-control" [(ngModel)]="complaint.complainant.qualifier" disabled
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group required">
                <label class="col-form-label">Address</label>
                <input type="text" class="form-control" [(ngModel)]="complaint.complainant.address" disabled
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col">
              <div class="form-group required">
                <label class="col-form-label">Contact Number</label>
                <input type="text" class="form-control" [(ngModel)]="complaint.complainant.mobileNumber" disabled
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group required">
              <label class="col-form-label">Statement or Brief Narrate</label>
              <textarea class="form-control" rows="10" [(ngModel)]="complaint.statement"
                [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="col-form-label required">Date received</label>
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{isAnimated: true}"
                [bsValue]="currentDate" [(ngModel)]="complaint.receivedOn" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group required">
              <label class="col-form-label">Receiving officer</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.receivingOffice"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Referred by</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.referredBy"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Referral number</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.referralNumber"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Assigned to</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.assignedTo"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="col-form-label">Person/office making assignment</label>
              <input type="text" class="form-control" [(ngModel)]="complaint.officeMakingAssignment"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </div>
        <br />
      </form>
    </div>
  </section>
</div>
