<div class="border">
<div *ngIf="!isDone">
    <span><i class="fas fa-spinner fa-pulse"></i>&nbsp;Loading now...</span>
</div>
<div *ngIf="isPDF" class="pdf-viewer">
    <div>
        <pdf-viewer [src]="pdfSrc" [render-text]="true" [show-borders]="true"
        ></pdf-viewer>
    </div>
</div>

<div *ngIf="isImage">
    <div class="zoom">
        <select class="form-control" [(ngModel)]="zoomConfig">
            <option>Original</option>
            <option>100%</option>
            <option>75%</option>
            <option>50%</option>
            <option>25%</option>
        </select>
    </div>
    <div>
        <img [src]="imageSrc" [attr.width]="zoomConfig" [attr.height]="zoomConfig" />
    </div>
</div>
</div>
