<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Edit Dosier Form</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <form novalidate class="form-horizontal" autocomplete="off" (ngSubmit)="save()" #createDosierForm="ngForm"
                [busy]="saving">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="col-form-label">Rank</label>
                            <input type="text" class="form-control" [(ngModel)]="dosier.rank" autofocus
                                (ngModelChange)="dosier.rank = $event.toUpperCase()" maxlength="256" name="dosierRank"
                                #dosierRankModel="ngModel" #dosierRankEl>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="col-form-label">Unit</label>
                            <input type="text" class="form-control" [(ngModel)]="dosier.unit"
                                (ngModelChange)="dosier.unit = $event.toUpperCase()" maxlength="256" name="dosierUnit"
                                #dosierUnitModel="ngModel" #dosierUnitEl>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group required">
                            <label class="col-form-label">Firstname</label>
                            <input type="text" class="form-control" [(ngModel)]="dosier.firstname"
                                (ngModelChange)="dosier.firstname = $event.toUpperCase()" required maxlength="256"
                                name="dosierFirstname" #dosierFirstnameModel="ngModel" #dosierFirstnameEl>
                            <abp-validation-summary [control]="dosierFirstnameModel" [controlEl]="dosierFirstnameEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label">Middlename</label>
                            <input type="text" class="form-control" [(ngModel)]="dosier.middlename"
                                (ngModelChange)="dosier.middlename = $event.toUpperCase()" maxlength="256"
                                name="dosierMiddlename" #dosierMiddlenameModel="ngModel" #dosierMiddlenameEl>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group required">
                            <label class="col-form-label">Lastname</label>
                            <input type="text" class="form-control" [(ngModel)]="dosier.lastname"
                                (ngModelChange)="dosier.lastname = $event.toUpperCase()" maxlength="256"
                                name="dosierLastname" required #dosierLastnameModel="ngModel" #dosierLastnameEl>
                            <abp-validation-summary [control]="dosierLastnameModel" [controlEl]="dosierLastnameEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label class="col-form-label">Qualifier</label>
                            <input type="text" class="form-control" [(ngModel)]="dosier.qualifier"
                                (ngModelChange)="dosier.qualifier = $event.toUpperCase()" maxlength="256"
                                name="dosierQualifier" #dosierQualifierModel="ngModel" #dosierQualifierEl>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn bg-blue" (click)="search()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" name="keyword" [(ngModel)]="keyword"
                                (ngModelChange)="keyword = $event.toUpperCase()" (keyup)="search()"
                                [placeholder]="'SearchWithThreeDot' | localize" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-sm bg-info" (click)="addDosierItem()">
                            <i class="fa fa-plus" aria-hidden="true">&nbsp;&nbsp;</i>ADD PARTICULAR</button>
                    </div>
                </div>
                <br />
                <!-- show dosier items here -->
                <table class="table table-hover text-nowrap">
                    <thead class="bg-light">
                        <tr>
                            <th>Item</th>
                            <th>Particular</th>
                            <th>Information</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of filterDosierItems; index as i">
                            <td>
                                <i *ngIf="item.attachment" class="fas fa-paperclip">&nbsp;</i>
                                {{ item.item }}
                            </td>
                            <td>{{ item.particular }}</td>
                            <td>{{ item.information }}</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-sm bg-danger" (click)="remove(i)">
                                    <i class="fas fa-trash">&nbsp;</i>
                                </a>
                                <a *ngIf="item.attachment" href="javascript:void(0);"
                                    class="btn btn-sm bg-secondary mx-2" (click)="view(i)">
                                    <i class="fas fa-eye">&nbsp;</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!createDosierForm.form.valid || saving">
                            Submit
                        </button>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </section>
</div>
