<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">New / Active Complaints</span>
              <span class="info-box-number">
                {{ totalNewComplaints }} / {{ totalActiveComplaints }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Close Complaints</span>
              <span class="info-box-number">
                {{ totalCloseComplaints }}
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-tag"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Top Nature</span>
              <span class="info-box-number">
                {{ topNature }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Top Rank / Unit</span>
              <span class="info-box-number">
                {{ topRank }} / {{ topUnit }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">New Complaints</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Nature</th>
                    <th>Incident Date</th>
                    <th>Channel</th>
                    <th>Assigned To</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let complaint of newComplaints">
                    <td>
                      <a [routerLink]="['/app/edit-complaint', complaint.id]">{{ complaint.sheetNumber }}</a>
                    </td>
                    <td>{{ complaint.nature }}</td>
                    <td>{{ complaint.dateIncident | date:'MM/dd/yyyy' }}</td>
                    <td>{{ complaint.reportedThru }}</td>
                    <td>{{ complaint.assignedTo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Closed Complaints</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Nature</th>
                    <th>Incident Date</th>
                    <th>Channel</th>
                    <th>Assigned To</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let complaint of closedComplaints">
                    <td>
                      <a [routerLink]="['/app/edit-complaint', complaint.id]">{{ complaint.sheetNumber }}</a>
                    </td>
                    <td>{{ complaint.nature }}</td>
                    <td>{{ complaint.dateIncident | date:'MM/dd/yyyy' }}</td>
                    <td>{{ complaint.reportedThru }}</td>
                    <td>{{ complaint.assignedTo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
